extends ./base
block header
  .container-fluid
    .row
      .col-sm-12
        h1.text-center Were sorry!
        h3.text-center The URL #{url} wasnt able to be found.
        h4.text-center
          a(href='/') Try going back?
    .row
      .col-sm-12
          h1.text-center 404