extends ./base
block header
  .container-fluid
    .row
      .col-sm-12
        h1.text-center Were truly sorry!
        h3.text-center Something went badly wrong.
        h4.text-center
          a(href='/') Try going back?
    .row
      .col-sm-12
        h1.text-center #{status}
